body{
    background-image: url(../imgs/background_coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: black;
    height: 10vh;
    color: white;
}

.navigation{
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}
.site-title{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    width: 1100px;
    font-size: 35px;
}
.content{
    display: flex;
    align-items: center;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 102, 32);
    color: white;
    height: 80vh;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    height: 80vh;
}
.doggy{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
}
